body {
  padding: 0;
  font-family: sans-serif;
  background-color: #6666FF;
}

.container {
  text-align: center;
  background-color: #B2B2FF;
  padding: 30px;
  width: 400px;
  margin-top: 10%;
  margin-left: 30%;
  border-radius: 5px;
  border: 5px solid white;
}

h3 {
  font-size: 22px;
}

button {
  padding: 15px;
  font-size: 18px;
  width: 220px;
  margin-bottom: 10px;
  background-color: white;
  color: #6666FF;
  border: 2px solid black;
  border-radius: 5px;
  transition: .6s;
}

button:hover {
  background-color: #6666FF;
  color: white;
}

.save:hover {
    background-color: #ccc !important;
    color: black;
}

p {
  color: black;
}

.form {
  border: 5px solid white;
  border-radius: 3px;
  background-color: #6666FF;
}

input {
  width: 220px;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -5px;
  border: 3px solid white;
  border-radius: 3px;;
}

.hide {
  display: none;
}
